@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: coral;
    color: white; */
}
a {
    color: blue !important;
    text-decoration: underline !important;
}

input, textarea, select {
    border: 1px solid gray;
}